.app-title-container{
  background-color: white;
  width: 60%;
  display: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 3px double  black;
}

.app-title{
  text-align: center;
  margin: 0;
}

.main-emoji-container{
  background-color: white;
  height: 300px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.emoji{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 150px;
}

.emoji-container{
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.emoji-item{
  font-size: 40px;
  margin: 10px;
  cursor: pointer;

}

.emoji-item:hover{
  transform: scale(1.8);
}